{% extends "Template_Back/base.html.twig" %}

  {% block body %}
<body>
  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The page you are looking for doesn't exist.</h2>
        <a class="btn" href="{{ path('back_index') }}">Back to home</a>
        <img src="{{asset('Template_Back/img/not-found.svg')}}
        " class="img-fluid py-5" alt="Page Not Found">
        <div class="credits">
          Designed by <a href="https://www.youtube.com/watch?v=ZK1pNGmNBEc">Roboute Guilliman</a>
        </div>
      </section>
    </div>
  </main><!-- End #main -->
</body>
  {% endblock %}