{% extends 'base.html.twig' %}

{% block title %}New Roleuser{% endblock %}

{% block body %}
    <h1>Create new Roleuser</h1>

    {{ include('roleuser/_form.html.twig') }}

    <a href="{{ path('app_roleuser_index') }}">back to list</a>
{% endblock %}
