{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<center>
    <h1>Create new User</h1>
<div class="d-flex align-items-center justify-content-center" style="height: 250px;"> </div>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
    </center>
{% endblock %}
